.container{display: flex; justify-content: center; align-items: center; flex-direction: column; margin: 100px 0;}
.motion_container {display: flex; justify-content: center; align-items: center; width: 1000px;}
.motion_container + .motion_container{margin-top:50px;}